{% extends "pages/base.html" %}

{% block title %} Student {% endblock title %}

{% block content %}
    {% load static %}
    <div class="card-header">
        <h2 class="text-center font-weight-light">Danh sách học viên</h2>
    </div>
    <div class="card-body">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th style="width: 5%;">ID</th>
                    <th style="width: 10%;">Họ và tên</th>
                    <th style="width: 5%;">Lớp</th>
                    <th style="width: 7%;">Số điện thoại</th>
                    <th style="width: 7%;">SDT phụ huynh</th>
                    <th style="width: 25%;">Địa chỉ</th>
                    <th style="width: 15%;">Thời gian đăng ký</th>
                    <th style="width: 5%;">Khóa học</th>
                    <th style="width: 10%;">Ghi chú</th>
                    <th style="width: 5%;">Active</th>
                    <th style="width: 6%;">Học phí</th>
                </tr>
            </thead>
            <tbody>
                {% for student in student %}
                <tr>
                    <!-- <h5><a href="/student/{{student.id}}">{{student.name}}</a></h5> -->
                    <td>{{ student.pk }}</td>
                    <td>{{ student.name }}</td>
                    <td>
                    {% for siclass in siclass %}
                        {% if siclass.student == student %}
                            {{ siclass.class_id}}
                        {% endif %}

                     {% endfor %}
                    </td>
                    <td>{{ student.phone_number_1 }}</td>
                    <td>{{ student.phone_number_2 }}</td>
                    <td>{{ student.address }}</td>
                    <td>{{ student.joined_date }}</td>
                    <td>{{ student.note }}</td>
                    <td>{{ syslevel.name }}</td>
                    {% for level in syslevel %}
                        {% if  %}
                        
                        {% else %}
                        {% endif %}
                    {% endfor %}    
                    <td>{{ student.is_learning }}</td>
                    <td>{{ syslevel.fee }}</td>
                    <!-- <td>D123</td>
                    <td>2020/1/2</td>
                    <td>DEngTu</td>
                    <td>...</td>
                    <td></td> -->
                    <!-- <td><i style="color: green;" class="fas fa-check-circle"></i></td> -->
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Họ và tên</th>
                    <th>Lớp</th>
                    <th>Số điện thoại</th>
                    <th>SDT phụ huynh</th>
                    <th>Địa chỉ</th>
                    <th>Thời gian đăng ký</th>
                    <th>Khóa học</th>
                    <th>Ghi chú</th>
                    <th>Active</th>
                    <th>Học phí</th>
                </tr>
            </tfoot>
        </table>
    </div>


    <!-- <a href="{% url 'create' %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true"><img src="{% static 'images/right.png' %}" style="max-height:40px"/> Đăng kí học viên mới</a>
    <br>
    <br>
    <DIV>
        <input type="text" placeholder="Nhập tên học sinh">
        <input type="button"class="btn btn-info" value="Tìm">
    </DIV> -->
{% for student in Students %}
    <!-- <h5><a href="/student/{{student.id}}">{{student.name}}</a></h5> -->
{% endfor %}

{% endblock content %}