{% extends "pages/base.html" %}

{% block title %} Student {% endblock title %}

{% block content %}
    {% load static %}
    <div class="card-header">
        <h2 class="text-center font-weight-light">Danh sách học viên</h2>
    </div>
    <div class="card-body">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Họ và tên</th>
                    <th>Lớp</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Thời gian đăng ký</th>
                    <th>Khóa học</th>
                    <th>Ghi chú</th>
                    <th>Active</th>
                    <th>Học phí</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>D000001</td>
                    <td>Nguyễn Văn A</td>
                    <td>D123</td>
                    <td>0123456789</td>
                    <td>Địa chỉ</td>
                    <td>2020/1/2</td>
                    <td>DEngTu</td>
                    <td>...</td>
                    <td></td>
                    <td><i style="color: green;" class="fas fa-check-circle"></i></td>
                </tr>
                <tr>
                    <td>D000002</td>
                    <td>Nguyễn Văn A</td>
                    <td>D123</td>
                    <td>0123456789</td>
                    <td>Địa chỉ</td>
                    <td>2020/1/2</td>
                    <td>DEngTu</td>
                    <td>...</td>
                    <td><i style="color: green;" class="fas fa-check-circle"></i></td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Họ và tên</th>
                    <th>Lớp</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <th>Thời gian đăng ký</th>
                    <th>Khóa học</th>
                    <th>Ghi chú</th>
                    <th>Active</th>
                    <th>Học phí</th>
                </tr>
            </tfoot>
        </table>
    </div>


    <!-- <a href="{% url 'create' %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true"><img src="{% static 'images/right.png' %}" style="max-height:40px"/> Đăng kí học viên mới</a>
    <br>
    <br>
    <DIV>
        <input type="text" placeholder="Nhập tên học sinh">
        <input type="button"class="btn btn-info" value="Tìm">
    </DIV> -->
{% for student in Students %}
    <!-- <h5><a href="/student/{{student.id}}">{{student.name}}</a></h5> -->
{% endfor %}

{% endblock content %}