{% extends "pages/base.html" %}
<!-- break code -->
{% block title %}
<!-- break code -->
Danh sách lớp học
<!-- break code -->
{% endblock title %}
<!-- break code -->
{% block content %}
<!-- break code -->
{% load static %}
<div class="card-header">
    <h2 class="text-center font-weight-light">Danh sách học viên</h2>
</div>
<div class="card-body">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="width: 15%;">Tên lớp</th>
                <th style="width: 5%;">Sĩ số</th>
                <th style="width: 10%;">Thời gian bắt đầu</th>
                <th style="width: 5%;">Số buổi đã học</th>
                <th style="width: 5%;">Ca học</th>
                <th style="width: 15%;">Giảng viên</th>
                <th style="width: 10%;">Khóa học</th>
                <th style="width: 20%;">Ghi chú</th>
                <th style="width: 5%;">Active</th>
            </tr>
        </thead>
        <tbody>
            {% for i in listclass %}
            <tr>
                <td>{{ i.fullname}}</td>
                <td></td>
                <td>{{ i.startdate}}</td>
                <td></td>
                <td>{{ i.timeshift}}</td>
                <td>{{ i.teacher}}</td>
                <td>{{ i.unit}}</td>
                <td>{{ i.note}}</td>
                <td style="text-align: center;">
                    {% if i.active %}
                    <i style="color: green; " class="fas fa-check-circle"></i>
                    <!-- break code -->
                    {%endif%}
                </td>
                <!-- <td><i style="color: green;" class="fas fa-check-circle"></i></td> -->
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Tên lớp</th>
                <th>Sĩ số</th>
                <th>Thời gian bắt đầu</th>
                <th>Số buổi đã học</th>
                <th>Ca học</th>
                <th>Giảng viên</th>
                <th>Khóa học</th>
                <th>Ghi chú</th>
                <th>Active</th>
            </tr>
        </tfoot>
    </table>
</div>

<!-- break code -->
{% endblock content %}