{% extends "pages/base.html" %} {% block title %} Đăng kí học {% endblock title %} {% block content %} {% load static %}
<div class="card-header">
    <h2 class="text-center font-weight-light">Tạo thông tin học viên</h2>
</div>
<div class="card-body">
    <form action="" method="POST">
        {% csrf_token %}
        <!-- {{form}} -->
        <div class="form-row">
            <div class="col-md-4">
                <label class="small mb-1" for="inputName">Họ và tên</label>
                <div class="form-group">
                    <input class="form-control" name="fullname" required id="inputname" type="text" placeholder="Nhập họ và tên" />
                </div>
            </div>
            <!-- ông thử link cách GET value của selectbox trong video này thử -->
            <!-- https://www.youtube.com/watch?v=Iiat5mc1Yz8 -->
            <div class="col-md-4">
                <label class="small mb-1" for="inputGender">Giới tính</label>
                <div class="form-group">
                    <select class="form-control" name="gender" required id="inputgender">
                        {% for i in gender %}
                            <option value="{{ i.pk }}">{{ i.name }}</option>
                        {% endfor %}
                        </select>
                </div>
            </div>
            <div class="col-md-4">
                <label class="small mb-1" for="inputBirthDay">Ngày sinh</label>
                <div class="form-group">
                    <input class="form-control" name="birthday" required id="inputbirthday" type="date" />
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label class="small mb-1" for="inputEmail">Email</label>
                <div class="form-group">
                    <input class="form-control" name="email" required id="inputemail" type="email" placeholder="Nhập email học viên" />
                </div>
            </div>
            <div class="col-md-4">
                <label class="small mb-1" for="inputIdentityCard">CMND/Thẻ căn cước</label>
                <div class="form-group">
                    <input class="form-control" name="identity_card" required id="inputidentitycard" type="text" placeholder="Nhập CMND học viên" />
                </div>
            </div>
            <div class="col-md-4">
                <label class="small mb-1" for="inputPhone">Số điện thoại</label>
                <div class="form-group">
                    <input class="form-control" name="phonenumber" required id="inputphone" type="text" placeholder="Nhập số điện thoại học viên" /></div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8">
                <label class="small mb-1" for="inputAddress">Địa chỉ</label>
                <div class="form-group">
                    <input class="form-control" name="adress" required id="inputaaddress" type="text" placeholder="Nhập địa chỉ học viên " />
                </div>
            </div>
            <div class="col-md-4">
                <label class="small mb-1" for="inputPhone">Số điện thoại phụ huynh</label>
                <div class="form-group">
                    <input class="form-control" name="phonenumber_family" required id="inputphonefamily" type="text" placeholder="Nhập số điện thoại phụ huynh" /></div>
            </div>
        </div>
        <div class="form-row">
            <!-- đây là listBox lấy dữ liệu từ dưới cơ sở dữ liệu bảng UNIT -->
            <div class="col-md-4">
                <label class="small mb-1" for="inputUnit">Khóa học</label>
                <div class="form-group">
                    <select disabled class="form-control" id="unitname" required>
                        <option value="" selected hidden>---</option>
                        {% for i in classname %}
                        <option value="{{i.pk}}" hidden>{{i.unit}}</option>
                        {% endfor %}
                    </select>
                    <!-- <input class="form-control" required disabled id="unitname" type="text" placeholder="Tên khóa học" /> -->
                </div>
            </div>
            <div class="col-md-4">
                <label class="small mb-1" for="inputClass">Lớp</label>
                <div class="form-group">
                    <select onchange="changeclassname()" class="form-control" id="classname" name="classname" required>
                        <option value="" selected hidden>---</option>
                        {% for i in classname %}
                        {% if i.active == 0 %}
                        <option value="{{i.pk}}">{{i.fullname}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label class="small mb-1" for="inputTeacherName">Giảng viên</label>
                <div class="form-group">
                    <select disabled class="form-control" id="teacher" required>
                        <option value="" selected hidden>---</option>
                        {% for i in classname %}
                        <option value="{{i.pk}}" hidden>{{i.teacher}}</option>
                        {% endfor %}
                    </select>
                    <!-- break code -->
                    <!-- <input class="form-control" required id="inputTeacherName" value="" type="text" placeholder="Chưa có giảng viên được xếp vào lớp này" disabled/> -->

                </div>
            </div>
            <script>
                function changeclassname() {
                    var x = document.getElementById("classname").value;
                    //swal('Good job!', 'You clicked the button!', 'success' );
                    //alert(x);
                    document.getElementById("teacher").value = x;
                    document.getElementById("unitname").value = x;
                    //alert(y+2);
                    //document.getElementById("unitname").innerHTML = y;
                }
            </script>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <label class="small mb-1" for="inputFee">Số tiền nộp</label>
                <div class="form-group input-group mb-3">
                    <input class="form-control" name="fee" required id="inputfee" type="text" placeholder="Nhập số tiền mà học viên nộp vào đây" />
                    <div class="input-group-prepend">
                        <span class="input-group-text">VND</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label class="small mb-1" for="inputFee">Số tiền còn thiếu</label>
                <div class="form-group input-group mb-3">
                    <input class="form-control" name="fee_remain" required id="inputfeeremain" placeholder="Nhập số tiền học viên còn thiếu vào đây" type="text" />
                    <div class="input-group-prepend">
                        <span class="input-group-text">VND</span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <label class="small mb-1" for="inputNote">Ghi chú</label>
                <div class="form-group">
                    <input class="form-control" name="note" id="inputNote" type="text" placeholder="Ghi chú" />
                </div>
            </div>
            <div class="col-md-1">
                <label class="small mb-1" for="inputActive">Trạng thái học</label>
                <div class="form-group">
                    <!-- <input class="form-control" required id="inputNote" type="checkbox" placeholder="Ghi chú" /> -->
                    <input type="checkbox" name="active" data-toggle="toggle" data-on="Học" data-off="Nghỉ">
                </div>
            </div>
            <script>
            </script>
        </div>
        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
            <!-- <a class="btn btn-primary btn-block" href="login.html">Tạo tài khoản mới</a> -->
            <input type="submit" value="Thêm học viên" class="btn btn-primary" style="margin-left: auto; margin-right: auto;">
        </div>
    </form>
</div>
<script src="{% static '/js/sweetalert.min.js' %}"></script>
<!-- 
    <center>
        <form action="." method="POST">
            {% csrf_token %}
            <div class="container-fluid" style="background: white;">
                <div style="align-self: center;"><h2>Đăng kí thông tin</h2></div>
                <div class="row">
                    <p style="align-self: center;">Tên học viên: </p><p>{{ form.name }}</p>
                </div>
                <div class="row">
                    <p>Số điện thoại liên lạc: </p><p>{{ form.phone_number_1 }}</p>
                </div>
                <div class="row">
                    <p>Khu vực: </p><p>{{ form.learning_area }}</p>
                </div>
            </div>      
            <input type="submit" value="Đăng kí"/>
        </form>
    </center>
-->
{% endblock content %}