{% extends "pages/base.html" %}
<!-- break line -->
{% block title %}
<!-- break code -->
Student
<!-- break code -->
{% endblock title %}
<!-- break line -->
{% block content %}
<!-- break line -->
{% load static %}

<!-- break line -->

<div class="card-header">
    <h2 class="text-center font-weight-light">Danh sách học viên</h2>
</div>
<div class="card-body">
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th style="width: 5%;">ID</th>
                <th style="width: 10%;">Họ và tên</th>
                <th style="width: 5%;">Lớp</th>
                <th style="width: 11%;">Số điện thoại</th>
                <th style="width: 11%;">SDT phụ huynh</th>
                <th style="width: 23%;">Địa chỉ</th>
                <th style="width: 12%;">Thời gian đăng ký</th>
                <th style="width: 8%;">Ghi chú</th>
                <th style="width: 5%;">Active</th>
                <th style="width: 10%;">Học phí thiếu</th>
            </tr>
        </thead>
        <tbody>
            {% for i in liststudent %}
            <tr>
                <td>{{ i.pk }}</td>
                <td><a href="/student/{{ i.pk }}">{{ i.fullname }}</a></td>
                <td>{{ i.classname }}</td>
                <td>{{ i.phonenumber }}</td>
                <td>{{ i.phonenumber_family }}</td>
                <td>{{ i.adress }}</td>
                <td>{{ i.create_date }}</td>
                <td>{{ i.note }}</td>
                <td style="text-align: center;">
                    {% if i.active %}
                    <i style="color: green; " class="fas fa-check-circle"></i> {%endif%}
                </td>
                <td>{{ i.fee_remain }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- break line -->
{% endblock content %}